@media screen and (max-width: 425px) {
  .header{
    &__mobile-ul{
      width: 100%;
    }
  }
  .search-field{
    &__grid-container{
      row-gap: 0;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(200px, 96vw);
      row-gap: 10px;
    }
  }
  .cart{
    width: 100%;
  }
  .product-grid{
    grid-auto-rows: minmax(0, 70vw);
  }
  .about{
    &__paragraph{
      width: 300px;
    }
  }
}

@media screen and (max-width: 375px){
  .search-field{
    &__input{
      width: 70%;
    }
  }
  .account-form{
    &__login-method{
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .about{
    height: 60svh;
    &__paragraph{
      width: 280px;
    }
  }
}