* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: dachi;
  src: url(./fonts/avenir-lt-w01_35-light1475496.woff2);
  font-weight: 300;
}
@font-face {
  font-family: dachi;
  src: url(./fonts/avenir-lt-w01_85-heavy1475544.woff2);
  font-weight: 600;
}
@font-face {
  font-family: halvetica;
  src: url(./fonts/Helvetica/HelveticaNeue-Thin.otf);
}
:root {
  --primary-color: #121212;
}

html {
  scroll-behavior: smooth;
}

html, body, input, button, select, textarea {
  font-family: dachi;
  font-weight: 600;
  color: var(--primary-color);
}

.product-card:hover .product-card__cart-btn {
  opacity: 1;
  transition: opacity 0.3s;
}
.product-card__upper-side {
  height: 80%;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
}
.product-card__upper-side:hover .product-card__image--secondary {
  z-index: 2;
  opacity: 1;
  transition: 0.2s;
}
.product-card__upper-side--smaller {
  height: 70%;
}
.product-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.product-card__image--primary {
  z-index: 1;
}
.product-card__image--secondary {
  z-index: 0;
  opacity: 0;
  transition: 0.2s;
}
.product-card__image--rounded {
  border-radius: 10px;
}
.product-card__status {
  font-size: 14px;
  color: white;
  background-color: #0A75B2;
  position: absolute;
  z-index: 2;
  padding: 4px 12px;
  top: 10px;
  left: 10px;
}
.product-card__status--dark {
  font-weight: 300;
  background-color: var(--primary-color);
}
.product-card__status--rounded {
  border-radius: 6px;
  padding: 3px 12px;
  left: 12px;
}
.product-card__improduct-text {
  margin-bottom: 0;
  cursor: pointer;
}
.product-card__strip {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -10px;
  margin-bottom: 6px;
  cursor: pointer;
}
.product-card__price {
  color: #757575;
  display: block;
  cursor: pointer;
}
.product-card__price--old {
  text-decoration: line-through;
  display: unset;
}
.product-card__price--margin {
  margin-top: 6px;
}
.product-card__price--dark {
  color: var(--primary-color);
}
.product-card__cart-btn {
  color: var(--primary-color);
  font-size: 16px;
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  width: 75%;
  height: 40px;
  margin-top: 12px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product-card__cart-btn:hover {
  text-decoration: underline;
}

.social-media-logos {
  position: fixed;
  z-index: 1;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.social-media-logos__link {
  font-size: 19px;
}
.social-media-logos__link--smaller {
  font-size: 16px;
}

.message-icon {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.message-icon__image {
  width: 45%;
  height: 45%;
}

.message-field {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  width: 340px;
  height: 600px;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.message-field__upper-side {
  padding: 20px;
  background-color: var(--primary-color);
  height: 80px;
  position: relative;
}
.message-field__heading {
  color: white;
  font-size: 19px;
  margin-bottom: 5px;
}
.message-field__flexbox {
  display: flex;
  align-items: center;
  gap: 6px;
}
.message-field__green-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #43B72A;
}
.message-field__active-status {
  color: white;
  font-size: 14px;
  font-family: halvetica;
}
.message-field__xmark {
  color: white;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.message-field__lower-side {
  height: 60px;
  border-top: 1px solid rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.message-field__textarea {
  resize: none;
  outline: none;
  font-size: 16px;
  color: black;
  border: none;
}
.message-field__textarea::-moz-placeholder {
  color: black;
}
.message-field__textarea::placeholder {
  color: black;
}
.message-field__icons {
  display: flex;
  align-items: center;
  gap: 7px;
}
.message-field__smile {
  color: rgb(166, 166, 166);
  cursor: pointer;
}
.message-field__smile:hover {
  color: rgb(200, 200, 200);
}
.message-field__attach {
  color: rgb(166, 166, 166);
  cursor: pointer;
}
.message-field__attach:hover {
  color: rgb(200, 200, 200);
}
.message-field__hidden-input {
  display: none;
}

.header {
  position: fixed;
  z-index: 10;
  background-color: white;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}
.header__logo-container {
  text-decoration: none;
}
.header__logo-first-word {
  font-size: 47px;
}
.header__logo-second-word {
  font-size: 17px;
  transition: 0.4s;
}
.header__logo-second-word:hover {
  color: rgba(18, 18, 18, 0.6);
  transition: 0.4s;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 220px;
}
.header__desktop-ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header__desktop-link {
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
}
.header__desktop-link:hover {
  color: rgba(18, 18, 18, 0.6);
  transition: 0.4s;
}
.header__desktop-link--active {
  color: rgba(18, 18, 18, 0.6);
}
.header__mobile-ul {
  list-style: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 425px;
  background-color: white;
  z-index: 100;
  padding: 60px 30px;
  display: none;
  flex-direction: column;
  gap: 24px;
}
.header__mobile-xmark {
  position: absolute;
  right: 10px;
  top: 40px;
  font-size: 24px;
  cursor: pointer;
}
.header__mobile-user-account {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -20px;
  width: 95px;
  cursor: pointer;
}
.header__mobile-user-account:hover .header__mobile-login-text {
  color: #757575;
}
.header__mobile-user-icon {
  font-size: 22px;
}
.header__mobile-login-text {
  font-size: 17px;
}
.header__mobile-list {
  width: 100%;
}
.header__mobile-link {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
}
.header__mobile-link--active {
  color: #0A75B2;
}
.header__other-nav-stuff {
  display: grid;
  grid-template-columns: 150px 100px 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
}
.header__input-container {
  margin-top: 8px;
  position: relative;
}
.header__input-container:hover .header__search-icon {
  color: #0A75B2;
  transition: 0.4s;
}
.header__input-container:hover .header__input {
  border-bottom: none;
  padding-bottom: 11px;
}
.header__input-container:hover .header__input::-moz-placeholder {
  color: #0A75B2;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.header__input-container:hover .header__input::placeholder {
  color: #0A75B2;
  transition: 0.4s;
}
.header__search-icon {
  position: absolute;
  left: 3px;
  bottom: 13px;
  transition: 0.4s;
}
.header__input {
  font-size: 17px;
  width: 100%;
  padding-inline: 32px 10px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
}
.header__input::-moz-placeholder {
  color: var(--primary-color);
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.header__input::placeholder {
  color: var(--primary-color);
  transition: 0.4s;
}
.header__user-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}
.header__user-account:hover .header__login-text {
  color: rgba(18, 18, 18, 0.6);
}
.header__user-icon {
  font-size: 24px;
}
.header__login-text {
  font-size: 17px;
}
.header__cart-img {
  width: 19px;
  cursor: pointer;
}
.header__bars-icon {
  font-size: 22px;
  cursor: pointer;
  display: none !important;
}
.header__dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.search-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 100;
  padding: 30px 80px 70px;
  overflow-y: auto;
  display: none;
}
.search-field__input-container {
  width: 100%;
  position: relative;
  margin-bottom: 58px;
}
.search-field__search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.search-field__input {
  font-size: 16px;
  width: 95%;
  height: 48px;
  outline: none;
  padding-inline: 35px 10px;
  border: 1px solid var(--primary-color);
  margin-right: 15px;
}
.search-field__input::-moz-placeholder {
  color: var(--primary-color);
}
.search-field__input::placeholder {
  color: var(--primary-color);
}
.search-field__close-text {
  cursor: pointer;
}
.search-field__close-text:hover {
  text-decoration: underline;
}
.search-field__trending-text {
  margin-bottom: 35px;
}
.search-field__grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, 25vw);
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.search-field__show-btn {
  color: white;
  background-color: var(--primary-color);
  font-size: 16px;
  border: 1px solid var(--primary-color);
  padding: 14px 24px;
  cursor: pointer;
  margin-top: 40px;
}
.search-field__show-btn:hover {
  text-decoration: underline;
}

.account-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 101;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.account-form__xmark {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.account-form__form {
  width: 470px;
  border-radius: 12px;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.25);
  padding: 30px 50px 20px;
}
.account-form__heading {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.account-form__welcome-text {
  font-size: 16px;
  color: rgba(18, 18, 18, 0.6);
  text-align: center;
  margin-bottom: 30px;
}
.account-form__login-method {
  border: 1px solid rgba(18, 18, 18, 0.3);
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 49%;
  padding: 5px 0;
  cursor: pointer;
}
.account-form__media-logo {
  width: 24px;
  height: 24px;
}
.account-form__media-name {
  font-size: 15px;
}
.account-form__or-text {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.account-form__input-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 60px);
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: center;
  row-gap: 10px;
  margin-bottom: 24px;
}
.account-form__input-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.account-form__input-container--third {
  grid-column: 1/span 2;
  grid-row: 2/3;
}
.account-form__input-container--fourth {
  grid-column: 1/span 2;
  grid-row: 3/4;
}
.account-form__label {
  font-size: 15px;
}
.account-form__input {
  outline: none;
  border: 1px solid rgba(18, 18, 18, 0.3);
  border-radius: 5px;
  height: 30px;
  padding-inline: 10px;
  font-size: 15px;
  width: 100%;
}
.account-form__button {
  width: 100%;
  border: 1px solid #0A75B2;
  color: white;
  background-color: #0A75B2;
  border-radius: 8px;
  height: 34px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.account-form__button:hover {
  color: #0A75B2;
  background-color: white;
  transition: 0.3s;
}
.account-form__signin-text {
  text-align: center;
  color: #757575;
}
.account-form__signin-link {
  color: #0A75B2;
  text-decoration: none;
}

.cart {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 425px;
  background-color: white;
  padding: 22px;
  display: none;
}
.cart__cart-text {
  font-size: 20px;
}
.cart__item-quantity {
  font-size: 16px;
}
.cart__xmark {
  position: absolute;
  right: 22px;
  top: 22px;
  font-size: 24px;
  cursor: pointer;
}
.cart__strip {
  width: 100%;
  height: 1px;
  background-color: rgba(18, 18, 18, 0.3);
  margin-top: 22px;
}
.cart__empty-text {
  text-align: center;
  font-size: 20px;
  margin-top: 150px;
}

.product-grid {
  padding-inline: 90px;
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, 40vw);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  text-align: center;
}

.about {
  padding: 150px 0 100px;
  height: 70vh;
  background-color: #F7F6F6;
}
.about__heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.about__paragraph {
  margin-inline: auto;
  text-align: center;
  font-size: 26px;
  line-height: 44px;
  width: 730px;
}

.footer {
  min-height: 52vh;
  background-color: #121212;
  padding: 0 140px 0 350px;
}
.footer__grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20vh 32vh;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.footer__grid-child--big {
  grid-column: 1/span 3;
  grid-row: 2/3;
  margin-left: 30px;
}
.footer__link {
  color: white;
  font-size: 17px;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
.footer__link--underline {
  text-decoration: underline;
}
.footer__tel {
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
}
.footer__suggestion-text {
  color: white;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 20px;
}
.footer__inputs-container {
  display: inline-grid;
  grid-template-columns: 480px 1fr;
  grid-template-rows: 4fr 6fr 7fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer__email-label {
  color: #757575;
  font-size: 17px;
}
.footer__input {
  width: 100%;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  border-bottom: 2px solid white;
  padding: 10px 10px;
  font-size: 15px;
  color: white;
  grid-row: 2/3;
}
.footer__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  grid-row: 3/4;
}
.footer__checkbox {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 17px;
  width: 17px;
  border: 2px solid white;
  background-color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__checkbox:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  content: "\f00c";
  display: none;
  font-size: 9px;
}
.footer__checkbox:checked:after {
  display: block;
}
.footer__check-label {
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.footer__subscribe-btn {
  display: inline;
  font-size: 17px;
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px 50px;
  grid-row: 2/3;
  cursor: pointer;
  transition: 0.3s;
}
.footer__subscribe-btn:hover {
  background-color: var(--primary-color);
  color: white;
  transition: 0.3s;
}

.below-footer {
  height: 46px;
  width: 100%;
  background-color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.below-footer__paragraph {
  font-size: 17px;
  letter-spacing: 0.9px;
}

@media screen and (max-width: 1400px) {
  .search-field__input {
    width: 92%;
  }
}
@media screen and (max-width: 1340px) {
  .header__nav {
    gap: 150px;
  }
  .footer {
    padding: 0 100px 0 250px;
  }
}
@media screen and (max-width: 1200px) {
  .header__nav {
    gap: 80px;
  }
  .footer {
    padding: 0 70px 0 200px;
  }
}
@media screen and (max-width: 1140px) {
  .header {
    padding: 20px 50px;
  }
  .header__desktop-ul {
    display: none;
  }
  .header__other-nav-stuff {
    grid-template-columns: 150px 30px 30px;
  }
  .header__user-account {
    display: none;
  }
  .header__bars-icon {
    display: unset !important;
  }
  .search-field {
    padding: 30px 50px 70px;
  }
  .search-field__grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, 35vw);
  }
  .product-grid {
    padding-inline: 70px;
    grid-auto-rows: minmax(200px, 48vw);
  }
  .footer__inputs-container {
    grid-template-columns: 300px 1fr;
  }
}
@media screen and (max-width: 865px) {
  .social-media-logos {
    display: none;
  }
  .search-field__input {
    width: 88%;
  }
  .search-field__grid-container {
    grid-auto-rows: minmax(200px, 38vw);
  }
  .product-grid {
    padding-inline: 30px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    grid-auto-rows: minmax(200px, 55vw);
  }
  .footer {
    padding: 0 70px 40px 150px;
  }
  .footer__grid-container {
    justify-items: center;
  }
  .footer__inputs-container {
    grid-template-columns: 300px;
    grid-template-rows: 4fr 6fr 7fr 5fr;
  }
  .footer__subscribe-btn {
    grid-row: 4/5;
  }
}/*# sourceMappingURL=style.css.map */