*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: dachi;
  src: url(./fonts/avenir-lt-w01_35-light1475496.woff2);
  font-weight: 300;
}
@font-face {
  font-family: dachi;
  src: url(./fonts/avenir-lt-w01_85-heavy1475544.woff2);
  font-weight: 600;
}

:root{
  --primary-color: #121212;
}

html{
  scroll-behavior: smooth;
}

html, body, input, button, select{
  font-family: dachi;
  font-weight: 600;
  color: var(--primary-color);
}

//#region reusable card
.product-card{
  &:hover .product-card__cart-btn{
    opacity: 1;
    transition: opacity .3s;
  }
  &__upper-side{
    height: 80%;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    &:hover .product-card__image--secondary{
      z-index: 2;
      opacity: 1;
      transition: .2s;
    }
    &--smaller{
      height: 70%;
    }
  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    &--primary{
      z-index: 1;
    }
    &--secondary{
      z-index: 0;
      opacity: 0;
      transition: .2s;
    }
    &--rounded{
      border-radius: 10px;
    }
  }
  &__status{
    font-size: 14px;
    color: white;
    background-color: #0A75B2;
    position: absolute;
    z-index: 2;
    padding: 4px 12px;
    top: 10px;
    left: 10px;
    &--dark{
      font-weight: 300;
      background-color: var(--primary-color);
    }
    &--rounded{
      border-radius: 6px;
      padding: 3px 12px;
      left: 12px;
    }
  }
  &__improduct-text{
    margin-bottom: 0;
    cursor: pointer;
  }
  &__strip{
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: -10px;
    margin-bottom: 6px;
    cursor: pointer;
  }
  &__price{
    color: #757575;
    display: block;
    cursor: pointer;
    &--old{
      text-decoration: line-through;
      display: unset;
    }
    &--margin{
      margin-top: 6px;
    }
    &--dark{
      color: var(--primary-color);
    }
  }
  &__cart-btn{
    color: var(--primary-color);
    font-size: 16px;
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    width: 75%;
    height: 40px;
    margin-top: 12px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s ease;
    &:hover{
      text-decoration: underline;
    }
  }
}
//#endregion

//#region header stuff
.header{
  position: fixed;
  z-index: 10;
  background-color: white;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  &__logo-container{
    text-decoration: none;
  }
  &__logo-first-word{
    font-size: 47px;
  }
  &__logo-second-word{
    font-size: 17px;
    transition: .4s;
    &:hover{
      color: rgba(18, 18, 18, 0.6);
      transition: .4s;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    gap: 220px;
  }
  &__desktop-ul{
    list-style: none;
    display: flex;
    gap: 30px;
  }

  &__desktop-link{
    text-decoration: none;
    font-size: 17px;
    transition: .4s;
    &:hover{
      color: rgba(18, 18, 18, 0.6);
      transition: .4s;
    }
    &--active{
      color: rgba(18, 18, 18, 0.6);
    }
  }
  &__mobile-ul{
    list-style: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 425px;
    background-color: white;
    z-index: 100;
    padding: 60px 30px;
    display: none;
    flex-direction: column;
    gap: 24px;
  }
  &__mobile-xmark{
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 24px;
    cursor: pointer;
  }
  &__mobile-user-account{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
    width: 95px;
    cursor: pointer;
    &:hover .header__mobile-login-text{
      color: #757575;
    }
  }
  &__mobile-user-icon{
    font-size: 22px;
  }
  &__mobile-login-text{
    font-size: 17px;
  }
  &__mobile-list{
    width: 100%;
  }
  &__mobile-link{
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    &--active{
      color: #0A75B2;
    }
  }




  &__other-nav-stuff{
    display: grid;
    grid-template-columns: 150px 100px 30px;
    column-gap: 20px;
    grid-template-rows: 50px;
    justify-items: center;
    align-items: center;
  }
  &__input-container{
    margin-top: 8px;
    position: relative;
    &:hover .header__search-icon{
      color: #0A75B2;
      transition: .4s;
    }
    &:hover .header__input{
      border-bottom: none;
      padding-bottom: 11px;
    }
    &:hover .header__input::placeholder{
      color:#0A75B2;
      transition: .4s;
    }
  }
  &__search-icon{
    position: absolute;
    left: 3px;
    bottom: 13px;
    transition: .4s;
  }
  &__input{
    font-size: 17px;
    width: 100%;
    padding-inline: 32px 10px;
    padding-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
    &::placeholder{
      color: var(--primary-color);
      transition: .4s;
    }
  }
  &__user-account{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    &:hover .header__login-text{
      color: rgba(18, 18, 18, 0.6);
    }
  }
  &__user-icon{
    font-size: 24px;
  }
  &__login-text{
    font-size: 17px;
  }
  &__cart-img{
    width: 19px;
    cursor: pointer;
  }
  &__bars-icon{
    font-size: 22px;
    cursor: pointer;
    display: none !important;
  }
  &__dark-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
}

//searchfield 
.search-field{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 100;
  padding: 30px 80px 70px;
  overflow-y: auto;
  display: none;
  &__input-container{
    width: 100%;
    position: relative;
    margin-bottom: 58px;
  }
  &__search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__input{
    font-size: 16px;
    width: 95%;
    height: 48px;
    outline: none;
    padding-inline: 35px 10px;
    border: 1px solid var(--primary-color);
    margin-right: 15px;
    &::placeholder{
      color: var(--primary-color);
    }
  }
  &__close-text{
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  &__trending-text{
    margin-bottom: 35px;
  }
  &__grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, 25vw);
    column-gap: 20px;
  }
  &__show-btn{
    color: white;
    background-color: var(--primary-color);
    font-size: 16px;
    border: 1px solid var(--primary-color);
    padding: 14px 24px;
    cursor: pointer;
    margin-top: 40px;
    &:hover{
      text-decoration: underline;
    }
  }
}

//account form
.account-form{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 101;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  &__xmark{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  &__form{
    width: 470px;
    border-radius: 12px;
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.25);
    padding: 30px 50px 20px;
  }
  &__heading{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
  }
  &__welcome-text{
    font-size: 16px;
    color: rgba(18, 18, 18, 0.6);
    text-align: center;
    margin-bottom: 30px;
  }
  &__login-method{
    border: 1px solid rgba(18, 18, 18, 0.3);
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 49%;
    padding: 5px 0;
    cursor: pointer;
  }
  &__media-logo{
    width: 24px;
    height: 24px;
  }
  &__media-name{
    font-size: 15px;
  }
  &__or-text{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &__input-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 60px);
    column-gap: 15px;
    justify-content: center;
    row-gap: 10px;
    margin-bottom: 24px;
  }
  &__input-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &--third{
      grid-column: 1 / span 2;
      grid-row: 2 / 3;
    }
    &--fourth{
      grid-column: 1 / span 2;
      grid-row: 3 / 4;
    }
  }
  &__label{
    font-size: 15px;
  }
  &__input{
    outline: none;
    border: 1px solid rgba(18, 18, 18, 0.3);
    border-radius: 5px;
    height: 30px;
    padding-inline: 10px;
    font-size: 15px;
    width: 100%;
  }
  &__button{
    width: 100%;
    border: 1px solid #0A75B2;
    color: white;
    background-color: #0A75B2;
    border-radius: 8px;
    height: 34px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .3s;
    &:hover{
      color:#0A75B2;
      background-color: white;
      transition: .3s;
    }
  }
  &__signin-text{
    text-align: center;
    color: #757575;
  }
  &__signin-link{
    color: #0A75B2;
    text-decoration: none;
  }
}

//cart
.cart{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 425px;
  background-color: white;
  padding: 22px;
  display: none;
  &__cart-text{
    font-size: 20px;
  }
  &__item-quantity{
    font-size: 16px;
  }
  &__xmark{
    position: absolute;
    right: 22px;
    top: 22px;
    font-size: 24px;
    cursor: pointer;
  }
  &__strip{
    width: 100%;
    height: 1px;
    background-color: rgba(18, 18, 18, 0.3);
    margin-top: 22px;
  }
  &__empty-text{
    text-align: center;
    font-size: 20px;
    margin-top: 150px;
  }
}


//#endregion

.product-grid{
  padding-inline: 90px;
  padding-top: 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, 40vw);
  column-gap: 20px;
  row-gap: 30px;
  text-align: center;
}

.about{
  padding: 150px 0 100px;
  height: 70vh;
  background-color: #F7F6F6;
  &__heading{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
  }
  &__paragraph{
    margin-inline: auto;
    text-align: center;
    font-size: 26px;
    line-height: 44px;
    width: 730px;
  }
}

.footer{
  min-height: 52vh;
  background-color: #121212;
  padding: 0 140px 0 350px;
  &__grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 32vh;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  &__grid-child{
    &--big{
      grid-column: 1 / span 3;
      grid-row: 2 / 3;
      margin-left: 30px;
    }
  }
  &__link{
    color: white;
    font-size: 17px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    &--underline{
      text-decoration: underline;
    }
  }
  &__tel{
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
  }
  &__suggestion-text{
    color: white;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  &__inputs-container{
    display: inline-grid;
    grid-template-columns: 480px 1fr;
    grid-template-rows: 4fr 6fr 7fr;
    column-gap: 30px;
  }
  &__email-label{
    color: #757575;
    font-size: 17px;
  }
  &__input{
    width: 100%;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    border-bottom: 2px solid white;
    padding: 10px 10px;
    font-size: 15px;
    color: white;
    grid-row: 2 / 3;
  }
  &__checkbox-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    grid-row: 3/ 4;
  }
  &__checkbox{
    appearance: none;
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    border: 2px solid white;
    background-color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after{
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: white;
      content: "\f00c";
      display: none;
      font-size: 9px;
    }
    &:checked:after{
      display: block;
    }
  }
  &__check-label{
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  &__subscribe-btn{
    display: inline;
    font-size: 17px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px 50px;
    grid-row: 2 / 3;
    cursor: pointer;
    transition: .3s;
    &:hover{
      background-color: var(--primary-color);
      color: white;
      transition: .3s;
    }
  }
}

.below-footer{
  height: 46px;
  width: 100%;
  background-color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  &__paragraph{
    font-size: 17px;
    letter-spacing: 0.9px;
  }
}




















@media screen and (max-width: 1400px){
  .search-field{
    &__input{
      width: 92%;
    }
  }
}

@media screen and (max-width: 1340px) {
  .header{
    &__nav{
      gap: 150px;
    }
  }
  .footer{
    padding: 0 100px 0 250px;
  }
}

@media screen and (max-width: 1200px) {
  .header{
    &__nav{
      gap: 80px;
    }
  }
  .footer{
    padding: 0 70px 0 200px;
  }
}

@media screen and (max-width: 1140px) {
  .header{
    padding: 20px 50px;
    &__desktop-ul{
      display: none;
    }
    &__other-nav-stuff{
      grid-template-columns: 150px 30px 30px;
    }
    &__user-account{
      display: none;
    }
    &__bars-icon{
      display: unset !important;
    }
  }
  .search-field{
    padding: 30px 50px 70px;
    &__grid-container{
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(200px, 35vw);
    }
  }
  .product-grid{
    padding-inline: 70px;
    grid-auto-rows: minmax(200px, 48vw);
  }
  .footer{
    &__inputs-container{
      grid-template-columns: 300px 1fr;
    }
  }
}


@media screen and (max-width: 865px) {
  .search-field{
    &__input{
      width: 88%;
    }
    &__grid-container{
      grid-auto-rows: minmax(200px, 38vw);
    }
  }
  .product-grid{
    padding-inline: 30px;
    column-gap: 10px;
    grid-auto-rows: minmax(200px, 55vw);
  }
  .footer{
    padding: 0 70px 40px 150px;
    &__grid-container{
      justify-items: center;
    }
    &__inputs-container{
      grid-template-columns: 300px;
      grid-template-rows: 4fr 6fr 7fr 5fr;
      
    }
    &__subscribe-btn{
      grid-row: 4 / 5;
    }
  }
}